<?xml version="1.0" ?>
<Version Number="8" />
<rootPath path="C:\Users\Leonvw\Documents\GitHub\OS3CS\OS3Server" />
<Filesystem>
    <File filename="fdsfdsfsd.txt" Originalname="fdsfdsfsd.txt" directory="mapje\fdsfdsfsd.txt" Editdate="1417038437" />
    <File filename="gitignore_global.txt" Originalname="gitignore_global.txt" directory="mapje\gitignore_global.txt" Editdate="1417038437" />
    <File filename="hai.txt" Originalname="hai.txt" directory="mapje\hai.txt" Editdate="1417038437" />
    <File filename="hgignore_global.txt" Originalname="hgignore_global.txt" directory="mapje\hgignore_global.txt" Editdate="1417038437" />
    <File filename="NewMicrosofWord-document.docx" Originalname="NewMicrosofWord-document.docx" directory="mapje\map1\NewMicrosofWord-document.docx" Editdate="1417038214" />
    <File filename="SO.COM.IApplication.chm" Originalname="SO.COM.IApplication.chm" directory="mapje\SO.COM.IApplication.chm" Editdate="1417038223" />
    <File filename="SO.COM.IDatabase.chm" Originalname="SO.COM.IDatabase.chm" directory="mapje\SO.COM.IDatabase.chm" Editdate="1417038233" />
</Filesystem>
