<?xml version="1.0" ?>
<Version Number="5" />
<rootPath path="C:/Users/dev/Documents/GitHub/OS3CS/OS3Server" />
<Filesystem>
    <File filename="fdsfdsfsd.txt" Originalname="fdsfdsfsd.txt" directory="mapje/fdsfdsfsd.txt" Editdate="1417187746" />
    <File filename="gitignore_global.txt" Originalname="gitignore_global.txt" directory="mapje/gitignore_global.txt" Editdate="1417187748" />
    <File filename="hai.txt" Originalname="hai.txt" directory="mapje/hai.txt" Editdate="1417424270" />
    <File filename="NewMicrosofWord-document.docx" Originalname="NewMicrosofWord-document.docx" directory="mapje/map1/NewMicrosofWord-document.docx" Editdate="1417187748" />
</Filesystem>
