<?xml version="1.0" ?>
<Version Number="9" />
<Filesystem>
    <File filename="Nieuw tekstdocument - kopie (2).txt" Originalname="Nieuw tekstdocument - kopie (2).txt" directory="C:\Users\Leonvw\Documents\GitHub\OS3CS\OS3Client/mapje\Nieuw tekstdocument - kopie (2).txt" />
    <File filename="Nieuw tekstdocument - kopie (3).txt" Originalname="Nieuw tekstdocument - kopie (3).txt" directory="C:\Users\Leonvw\Documents\GitHub\OS3CS\OS3Client/mapje\Nieuw tekstdocument - kopie (3).txt" />
    <File filename="Nieuw tekstdocument - kopie (4).txt" Originalname="Nieuw tekstdocument - kopie (4).txt" directory="C:\Users\Leonvw\Documents\GitHub\OS3CS\OS3Client/mapje\Nieuw tekstdocument - kopie (4).txt" />
    <File filename="Nieuw tekstdocument - kopie (5).txt" Originalname="Nieuw tekstdocument - kopie (5).txt" directory="C:\Users\Leonvw\Documents\GitHub\OS3CS\OS3Client/mapje\Nieuw tekstdocument - kopie (5).txt" />
    <File filename="Nieuw tekstdocument - kopie (6).txt" Originalname="Nieuw tekstdocument - kopie (6).txt" directory="C:\Users\Leonvw\Documents\GitHub\OS3CS\OS3Client/mapje\Nieuw tekstdocument - kopie (6).txt" />
    <File filename="Nieuw tekstdocument - kopie (7).txt" Originalname="Nieuw tekstdocument - kopie (7).txt" directory="C:\Users\Leonvw\Documents\GitHub\OS3CS\OS3Client/mapje\Nieuw tekstdocument - kopie (7).txt" />
    <File filename="Nieuw tekstdocument - kopie.txt" Originalname="Nieuw tekstdocument - kopie.txt" directory="C:\Users\Leonvw\Documents\GitHub\OS3CS\OS3Client/mapje\Nieuw tekstdocument - kopie.txt" />
    <File filename="Nieuw tekstdocument.txt" Originalname="Nieuw tekstdocument.txt" directory="C:\Users\Leonvw\Documents\GitHub\OS3CS\OS3Client/mapje\Nieuw tekstdocument.txt" />
</Filesystem>
